/* all */
*{
    margin: 0px;
    box-sizing: border-box;
    /* background-color: #212121; */
}

/* header */
header {
    overflow: hidden;
    padding: 20px 10px;
    width: 100%;
    outline: auto;
}

/* header logo */
header logo {
    float: left;
    padding: 12px;
}

/* header buttons */
header a {
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none; /* hide hyperlink */
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
}

